<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
</head>
<body>
    <h1>Ласкаво просимо до GoPizza!</h1>

    {% if user.is_authenticated %}
        <p>Вітаємо, {{ user.username }}!</p>
        <a href="{% url 'polls:question_list' %}">Перейти до запитань</a>
    {% else %}
        <p>Щоб продовжити, вам потрібно увійти або зареєструватися.</p>
        <a href="{% url 'polls:login' %}">Увійти</a> |
        <a href="{% url 'polls:register' %}">Зареєструватися</a>
    {% endif %}
</body>
</html>
